# location: /etc/systemd/system/vb2007hu-api.service
[Unit]
Description=vb2007.hu API
Documentation=https://github.com/vb2007/vb2007.hu-api
Wants=network-online.target
After=network-online.target local-fs.target nss-lookup.target

[Service]
Type=simple
WorkingDirectory=/home/vb2007/prod/vb2007.hu-api
ExecStart=/usr/bin/npm run prod
# For logging to syslog
# StandardOutput=syslog
# StandardError=syslog
Restart=on-failure
RestartSec=10
SyslogIdentifier=vb2007hu-api
User=vb2007
Group=vb2007
Environment=NODE_ENV=production
# PrivateTmp=true
# TimeoutStopSec=1800

[Install]
WantedBy=multi-user.target